/* Section de la galerie */

.galerie__figure{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.galerie__figure img{
    width: 100%;
    object-fit: cover;
}

.galerie__figure figcaption{
    padding: 2px;
    color: #000   
}

.galerie__figure figcaption:hover {
    color: rgba(48, 48, 255, 0.5);
    background-color: #adffcfad;
    border-radius: 5px;
    transform: scale(1.1);
}

.galerie__figure a{
    text-decoration: none;
    flex-basis: 170px;
    filter: blur(1px) opacity(0.9);
    transform: scale(1);
    transition: filter 500ms;
    transition: transform 500ms;
}

.galerie__figure a:hover{
    filter: none;
    transform: scale(1.15);
    transition: filter 500ms;
    transition: transform 500ms;
}