/* Règles généraux */

*{
    box-sizing: border-box;
}
html {
    font-size: 14px;
}
body{
    margin: 0;
    padding: 0;
}

h1, h2, h3, caption{
    margin: 0;
    padding: 10px 0;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

p, li, tr{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

section, header, footer{
    min-height: 100vh;
}

.centre{
    max-width: 1100px;
    margin: 0 auto;
    padding: 25px;
    background-color: #ffffff75;
}

ul, li{
    padding: 0; 
    margin: 0;
    list-style: none; 
    line-height: 1.5;
}

figure{
    margin: 0;
    padding: 0;
}

/* Section hero */

.hero{
    background: linear-gradient(to bottom, transparent 80%, black 100%), url("../images/ff7_fond_acceuil.jpg");
    background-position: 50%;
    background-size: cover;
}

.hero > .centre{
    background-color: #ffc6c6ad;
}

.hero__barresup{
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
}

.hero__entete{
    padding-top: 20px;
}

.hero__titre{
    color: #fff;
    font-size: 3rem;
}

.a__bouton{
    border-radius: 5px;
    padding: 5px 5px;
    color: #00000094;
    text-decoration: none;
    background-color: #ffffffb7;
}

.a__bouton:hover{
    color: #000;
    background-color: #fff;
}

.a__espacement{
   margin: 15px 0; 
}

/* section de l'inscription */

.Inscription{
    background: linear-gradient(to bottom, transparent 80%, black 100%), url("../images/ff7_fond_inscription.jpg");
    background-position: 50%;
    background-size: cover;
}

.Inscription > .centre{
    background-color: #bcfdbcad;
    color: #31ffff;
}

/* Section du tableau */

.statistiques{
    background: linear-gradient(to bottom, transparent 80%, black 100%), url("../images/ff7_fond_tableau.jpg");
    background-position: 50%;
    background-size: cover;
}

.statistiques > .centre{
    background-color: #00FFFFad;
    color: #98fc98;
}

table{
    display: flex;
    flex-wrap: wrap;
    border-collapse: collapse;
    width: 100%;
    height: 80vh;
    border: 1px dotted #31bdb6;
}

tr, td, th{
    color: #000;
    border: 1px solid #111d25;
    font-size: clamp(0.2rem, 7vw, 1.1rem);
    padding: 5px;
    text-align: left;
}

th{
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
}

caption{
    padding: 5px;
    font-size: 3rem;
}

tbody tr:nth-of-type(odd){
    background-color: #ff000075;
}

tbody tr:nth-of-type(even){
    background-color: #2cc7729d;
}

tfoot{
    border: none;
}

/* Sections des articles */

.creation{
    background: linear-gradient(to bottom, transparent 80%, black 100%), url("../images/ff7_fond_article1.jpg");
    background-position: 50%;
    background-size: cover;
}

.creation > .centre {
    background-color: #6585b4ad;
    color: #e5a3ff;
}


.Joueurs {
    background: linear-gradient(to bottom, transparent 80%, black 100%), url("../images/ff7_fond_article2.jpg");
    background-position: 50%;
    background-size: cover;
}

.Joueurs > .centre{
    background-color: #d77afcad;
    color: #bcd7ff;
}

/* section de la vidéo */

.bande_annonce > .centre{
    background-color: #ff5353ad;
    color: #7676ff;
}

.bande_annonce{
    background: linear-gradient(to bottom, transparent 80%, black 100%), url("../images/ff7_fond_video.jpg");
    background-position: 50%;
    background-size: cover;
}

.Videos video{
    position: relative;
    right: 30px;
    filter: blur(1px) opacity(0.9);
    transform: scale(0.8);
    transition: filter 500ms;
    transition: transform 500ms;
}

.Videos video:hover{
    filter: none;
    transform: scale(0.85);
    transition: filter 500ms;
    transition: transform 500ms;
}

/* section de la galerie */

.phototheque > .centre{
    background-color: #4f4fffad;
    color: #ff8585;
}

.phototheque{
    background: linear-gradient(to bottom, transparent 80%, black 100%), url("../images/ff7_fond_galerie.jpg");
    background-position: 50%;
    background-size: cover;
}

.galerie__figure{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.galerie__figure img{
    display: block;
    width: 100%;
    object-fit: cover;
}

.galerie__figure a{
    padding: 10px 15px;
    filter: blur(1px) opacity(0.9);
    transform: scale(1);
    transition: filter 500ms;
    transition: transform 500ms;
}

.galerie__figure a:hover{
    filter: none;
    transform: scale(1.15);
    transition: filter 500ms;
    transition: transform 500ms;
}

/* section pied de page */

.fin{
    background: linear-gradient(to top, transparent 80%, black 100%), url("../images/ff7_fond_pied.jpg");
    background-position: 50%;
    background-size: cover;
}

.fin > .centre{
   background-color: #6d325ead;
}

.pied{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.pied__enfant{
    padding: 0 50px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
}

.bibliographie{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
}

.pied a{
    text-decoration: none;
    padding: 2px;
    color: #000;
}

.pied a:hover{
    color: rgb(48, 48, 255);
    background-color: #adffcf;
    border-radius: 5px;
    transform: scale(1.1);
}

.img__sociaux{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    width: 100%;
}

.img__sociaux img:hover{
    background-color: #ffffff50;
    border-radius: 5px;
}